.textarea {
    margin: auto;
}

.icon-1 {
    height: 30px;
    width: 30px;
}

.icon-2 {
    height: 30px;
    width: 30px;

}

.icon-3 {
    height: 30px;
    width: 30px;
}

.icon-4 {
    height: 30px;
    width: 30px;
}